body {
    background-color: black;
    font-family     : 'Courier New', Courier, monospace;
    margin          : 0%;
    size            : 16px;
    font-weight     : bold;
}

#video {
    position  : fixed;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    opacity   : 0.05;
}

main {
    color : #8AB9B5;
    margin: 0 0 2rem 0;
}

.comment {
    color      : #34E4EA;
    font-weight: bolder;
}

.lt,
.gt,
.brownish {
    color: #C8C2AE;
}

.include,
.def, 
.vars {
    color: #0EB1D2;
}

a {
    text-decoration: none;
    color          : #8AB9B5;
    font-weight    : bolder;
}

a:hover {
    color: #C8C2AE;
}

footer {
    position        : fixed;
    bottom          : 0%;
    left            : 0%;
    right           : 0%;
    background-color: #2B4141;
    border          : .15rem solid #C8C2AE;
    text-align      : center;
}